{% extends 'admin/index.html' %}

{% block cp %}
<div class="container">
    <h1 class="my-4">Gestion des Témoins</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Ajouter un Témoin</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3" name="ajouter">Ajouter</button>
            </form>
        </div>
    </div>

    <hr>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Liste des Témoins</h2>
            <ul class="list-group">
                {% for temoin in temoins %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5>{{ temoin.nom }}</h5>
                            <p>{{ temoin.commentaire }}</p>
                        </div>
                        <div>
                            <form method="post" enctype="multipart/form-data" class="d-inline">
                                {% csrf_token %}
                                <input type="hidden" name="temoin_id" value="{{ temoin.id }}">
                                <input type="text" class="form-control" name="nouveau_nom" value="{{ temoin.nom }}">
                                <textarea class="form-control mt-2" name="nouveau_commentaire">{{ temoin.commentaire }}</textarea>
                                <input type="file" class="mt-2" name="nouvelle_image">
                                <button type="submit" class="btn btn-primary btn-sm mt-2" name="modifier">Modifier</button>
                                <button type="submit" class="btn btn-danger btn-sm mt-2" name="supprimer">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
