{%extends  'base.html'%}
{% load static %}
{% block content %}
 <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <img src="{% static '/img/kouty_bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>Bienvenu sur KOUTY Medical Service</h2>
            <p>Votre partenaire pour des soins médicaux de qualité .</p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
              <h3>Pourquoi choisir KOUTY Medical Service</h3>
              <p>
                Choisissez KOUTY Médical Service pour bénéficier de soins médicaux de premier ordre, orchestrés par une équipe dévouée et soutenus par notre réseau de partenaires de renommée mondiale.
                  Nous nous engageons à rendre vos voyages médicaux aussi confortables et sécurisés que possible, avec un service personnalisé qui répond à vos besoins médicaux spécifiques. </p>
              <div class="text-center">
                <a href="#about" class="more-btn"><span>Voir plus</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="d-flex flex-column justify-content-center">
                <div class="row gy-4">

                    <div class="col-xl-4 d-flex align-items-stretch">
                        <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                            <i class="bi bi-people"></i>
                            <h4>Partenariat avec des Spécialistes Éminents</h4>
                            <p>Nous travaillons avec des spécialistes renommés dans divers domaines médicaux pour assurer des diagnostics précis et des traitements efficaces. </p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4 d-flex align-items-stretch">
                        <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                            <i class="bi bi-heart-pulse"></i>
                            <h4>Engagement envers la Santé</h4>
                            <p>Notre mission est d'améliorer le système de santé en Afrique en rendant les soins médicaux accessibles même dans les régions les plus reculées.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4 d-flex align-items-stretch">
                        <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                            <i class="bi bi-hospital"></i>
                            <h4>Expertise Médicale</h4>
                            <p>Nous sommes spécialisés dans le domaine des services médicaux, avec une équipe dédiée à coordonner tous les aspects de votre voyage médical, depuis les consultations jusqu'aux procédures chirurgicales.</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>
          </div>
        </div><!-- End  Content-->

      </div>

    </section><!-- /Hero Section -->

      <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4 gx-5">
            
            <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'img/departments-1.jpg' %}"class="img-fluid" alt="">
            </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>À Propos de nous</h3>
            <p>
              Chez KOUTY Médical Service, nous nous consacrons à améliorer l'accès aux soins de santé de qualité, en offrant des solutions intégrées pour les voyages médicaux, l'hébergement adapté et la vente de matériel médical.
            </p>
            <ul>
              <li>
                <i class="fas fa-hospital-user"></i>
                <div>
                  <h5>Expérience médicale de premier ordre</h5>
                  <p>Nous collaborons avec les meilleurs établissements médicaux pour assurer des soins sûrs et efficaces à nos patients.</p>
                </div>
              </li>
              <li>
                <i class="fas fa-hotel"></i>
                <div>
                  <h5>Hébergement confortable</h5>
                  <p>Nous proposons un hébergement adapté, sélectionné pour sa proximité et son confort, facilitant un rétablissement optimal.</p>
                </div>
              </li>
              <li>
                <i class="fas fa-shipping-fast"></i>
                <div>
                  <h5>Service de transport sécurisé</h5>
                  <p>Nous assurons un transport sécurisé depuis l'aéroport et vers les rendez-vous médicaux, garantissant un déplacement sans stress pour nos patients.</p>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

        <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Nous vous proposons divers services.</p>
      </div><!-- End Section Title -->

      <div class="container">
  <div class="row gy-4">
    {% for service in service %}
      <div class="col-lg-4 col-md-6" data-aos="fade-up">
        <div class="service-item position-relative">
          <div style="width: 100%; height: 300px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
            <img src="{{ service.image.url }}" alt="{{ service.titre }} image" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <a  class="stretched-link">
            <h3>{{ service.titre }}</h3>
          </a>
          <p>{{ service.description }}</p>
        </div>
      </div><!-- End Service Item -->
    {% endfor %}
  </div>
</div>


    </section><!-- /Services Section -->
    <!-- Products Section -->
    <section id="products" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nos Produits</h2>
        <p>Découvrez notre gamme de produits de qualité.</p>
      </div><!-- End Section Title -->

      <div class="container">
  <div class="row gy-4">
    {% for produit in produit %}
      <div class="col-lg-4 col-md-6" data-aos="fade-up">
        <div class="service-item position-relative">
          <div style="width: 100%; height: 200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
            <img src="{{ produit.image.url }}" alt="{{ produit.titre }} image" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <a class="stretched-link">
            <h3>{{ produit.titre }}</h3>
          </a>
          <p>{{ produit.description }}</p>
        </div>
      </div><!-- End Product Item -->
    {% endfor %}
  </div>
      <!-- Bouton Voir Plus -->
     <div style="text-align: center; margin: 20px 0;">
      <a href="{% url 'koutyUsers:produit' %}" class="btn-see-more" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: rgba(10,63,227,0.65); border-radius: 5px; text-decoration: none; transition: background-color 0.3s;">
        Voir plus de produits >>>
      </a>
    </div>
</div>


    </section><!-- /Products Section -->



    <!-- Departments Section -->
    <section id="departments" class="departments section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nos partenaires</h2>
        <p>Voici nos divers partenaires</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
  <div class="row">
    {% for partenaire in partenaire %}
      <div class="col-md-4">
        <div class="card partner-card">
          <div style="width: 100%; height: 200px; overflow: hidden;">
            <img src="{{ partenaire.image.url }}" class="card-img-top" alt="{{ partenaire.nom }} image" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="card-body">
            <h5 class="card-title partner-card-title">{{ partenaire.nom }}</h5>
            <p class="card-text">{{ partenaire.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


    </section><!-- Departments Section -->

       <!-- Doctors Section -->
    <section id="doctors" class="doctors section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nos Spécialistes</h2>
        <p>Découvrez notre équipe de spécialistes dédiés à votre santé.</p>
      </div><!-- End Section Title -->

      <div class="container">
  <div class="row gy-4">
    {% for specialiste in specialiste %}
      <div class="col-lg-4 col-md-6" data-aos="fade-up">
        <div class="team-member d-flex align-items-start">
          <div class="pic" style="width: 150px; height: 150px; overflow: hidden; border-radius: 50%;">
            <img src="{{ specialiste.image.url }}" class="img-fluid" alt="{{ specialiste.nom }}" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="member-info">
            <h4>{{ specialiste.nom }}</h4>
            <span>{{ specialiste.role }}</span>
            
          </div>
        </div>
      </div><!-- End Team Member -->
    {% endfor %}
  </div>
</div>


    </section><!-- /Doctors Section -->
    <!-- Testimonials Section -->
<section id="testimonials" class="testimonials section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
        <h3>Témoignages</h3>
        <p>
            Découvrez ce que nos clients et partenaires ont à dire sur leur expérience avec nous.
            Leur satisfaction est notre plus grande récompense, et leurs retours témoignent de notre engagement envers l'excellence.
        </p>
      </div>
      <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">
            {% for temoin in temoins %}
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="d-flex">
                    {% if temoin.image %}
                      <img src="{{ temoin.image.url }}" class="testimonial-img flex-shrink-0" alt="{{ temoin.nom }}">
                    {% else %}
                      <img src="{% static '/img/default_user.png' %}" class="testimonial-img flex-shrink-0" alt="Default Image">
                    {% endif %}
                    <div>
                      <h3>{{ temoin.nom }}</h3>
                      <h4>{{ temoin.role }}</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>{{ temoin.temoignage }}</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section><!-- /Testimonials Section -->
<!-- Recent Posts Section -->
<section id="recent-posts" class="recent-posts section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Ils parlent de nous...</h2>
        <p>Explorez les articles et les reportages qui mettent en lumière les réalisations 
            et l'impact de notre entreprise .</p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      {% for mention in mentions %}
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:100 }}">
          <a href="{{ mention.lien }}" style="text-decoration: none; color: inherit; display: block; transition: transform 0.3s, box-shadow 0.3s;">
            <article style="width: 100%; height: 600px;background: #fff; border: 1px solid #ddd; border-radius: 5px; overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); transition: transform 0.3s, box-shadow 0.3s;">
              <div class="post-img" style="overflow: hidden;">
                {% if mention.image %}
                  <img src="{{ mention.image.url }}" alt="Image de {{ mention.titre }}" style="width: 100%; height: 350px; object-fit: cover; transition: transform 0.3s;">
                {% else %}
                  <img src="{% static '/img/kouty.png' %}" alt="Image par défaut" style="width: 100%; height: 350px; object-fit: cover; transition: transform 0.3s;">
                {% endif %}
              </div>

              <p class="post-category" style="font-size: 14px; color: #666; margin-left: 10px; margin-top: 10px;">{{ mention.source }}</p>

              <h2 class="title" style="margin-left: 10px; color: rgba(10,63,227,0.65);">
                {{ mention.titre }}
              </h2>

              <p class="post-excerpt" style="font-size: 16px; color: #333; margin-left: 10px; margin-right: 10px;">
                {{ mention.extrait }}
              </p>

              <div class="d-flex align-items-center">
                <!-- Optionally, you can add an author image if available -->
                <!-- <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
                <div class="post-meta">
                  <p class="post-date" style="font-size: 14px; color: #999; margin: 5px;">
                    <time datetime="{{ mention.date_publication|date:"Y-m-d" }}">{{ mention.date_publication|date:"M d, Y" }}</time>
                  </p>
                </div>
              </div>

            </article>
          </a>
        </div><!-- End post list item -->
      {% endfor %}
    <!-- Bouton Voir Plus -->
     <div style="text-align: center; margin: 20px 0;">
      <a href="{% url 'koutyUsers:mention' %}" class="btn-see-more" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: rgba(10,63,227,0.65); border-radius: 5px; text-decoration: none; transition: background-color 0.3s;">
        Voir plus d'Actualités >>>
      </a>
    </div>
    </div><!-- End recent posts list -->
  </div>
</section><!-- /Recent Posts Section -->

<style>
  /* Effet de survol pour l'article */
  .recent-posts a:hover article {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Effet de survol pour l'image */
  .recent-posts a:hover .post-img img {
    transform: scale(1.05);
  }
  
  /* Effet de survol pour le bouton Voir Plus */
  .recent-posts a:hover div a {
    background-color: rgba(10,63,227,0.85);
  }
</style>

    <!-- Contact Section -->
<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>Entrez en contact avec nous dès maintenant</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-4">
        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <h3>Localisation</h3>
            <p>293 BD ABDELMOUMEN 5 ETG APPT 1 CASABLANCA-MAROC</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Appellez-nous</h3>
            <p>+212 (0) 674 04 50 01</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <h3>Envoyez-nous un mail</h3>
            <p>INFO@KOUTY.MA</p>
          </div>
        </div> <!-- End Info Item -->

      </div>

      <div class="col-lg-8">
        <form id="contactForm" class="php-email-form" data-aos="fade-up" data-aos-delay="200" action="" onsubmit="sendEmail(event)" style=" padding: 30px; border-radius: 8px;">
          <div class="row gy-4">
            <div class="col-md-6">
              <input type="text" id="name" class="form-control" placeholder="Votre Nom" required style="border: 1px solid #ddd; border-radius: 4px; padding: 15px; font-size: 16px; margin-bottom: 15px;">
            </div>

            <div class="col-md-6">
              <input type="email" id="email" class="form-control" placeholder="Votre Email" required style="border: 1px solid #ddd; border-radius: 4px; padding: 15px; font-size: 16px; margin-bottom: 15px;">
            </div>

            <div class="col-md-12">
              <input type="text" id="subject" class="form-control" placeholder="Objet" required style="border: 1px solid #ddd; border-radius: 4px; padding: 15px; font-size: 16px; margin-bottom: 15px;">
            </div>

            <div class="col-md-12">
              <textarea id="message" class="form-control" rows="6" placeholder="Message" required style="border: 1px solid #ddd; border-radius: 4px; padding: 15px; font-size: 16px; margin-bottom: 15px;"></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading" style="display: none;">Chargement</div>
              <div class="error-message" style="display: none; color: #dc3545;"></div>
              <div class="sent-message" style="display: none; color: #28a745;">Votre message a été envoyé. Merci!</div>

              <button type="submit" style="background: #007bff; border: none; padding: 15px 30px; color: #fff; font-size: 16px; border-radius: 4px; cursor: pointer;">Envoyer le message</button>
            </div>
          </div>
        </form>

      </div><!-- End Contact Form -->

    </div>

  </div>

</section><!-- Contact Section -->
<script>
function sendEmail(event) { 
  event.preventDefault();

  const name = document.getElementById('name').value;
  const email = document.getElementById('email').value;
  const subject = document.getElementById('subject').value;
  const message = document.getElementById('message').value;

  const companyEmail = 'INFO@KOUTY.MA'; // Remplacez par l'email de votre entreprise
  const fullMessage = `Je suis ${name} et mon mail est : ${email}.\n\n${message}`;

  const mailtoLink = `mailto:${companyEmail}?subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(fullMessage)}`;
  
  window.location.href = mailtoLink;
}
</script>    
{% endblock %}