<div >
    <h1>Mot du fondateur</h1>    
    <p>La santé est une bénédiction dont la valeur n’est perçue que lorsqu’elle commence à se dégrader.
        Ces dernières années ont été marquées par plusieurs vagues d’épidémies qui ont mis en lumière les failles de notre système de santé, le manque de matériel médical, le manque de spécialistes, et des structures médicales adéquates dans certaines régions, etc.
        Nous n’allons à l’hôpital que lorsque c’est grave; nos habitudes de santé doivent changer; j’en ai pris conscience qu’un peu tard malheureusement.
        La mort de ma grand-mère suite à une longue maladie, voir son visage perdre jour après jour son sourire et sa joie de vivre a été pour moi un choc.
        J’ai donc fondé KOUTY MÉDICAL SERVICE pour permettre à toutes les personnes, même dans les régions les plus reculées d’avoir accès aux soins qu’ils méritent.</p>
    <h1>Contactez-nous Maintenant</h1>
        <form>
            <input type="text" name="nom" placeholder="Votre nom" required> <br>
            <input type="email" name="email" placeholder="Votre email" required> <br>
            <textarea name="message" placeholder="Votre message" rows="4" required></textarea>
            <button type="submit">Envoyer</button>
        </form>
</div>