{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOUTY medical service</title>
</head>
<body>
    {% include 'user/navbar.html' %}
    {% include 'user/carrousel.html' %}
    {% include 'user/services.html' %}
    {% include 'user/produits.html' %}
    {% include 'user/partenaire.html' %}
    {% include 'user/contact.html' %}
    {% include 'user/footer.html' %}
</body>
</html>
